* { box-sizing: border-box; }
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #000;
  color: #fff;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  animation: fadeUp 1s ease;
}

.hero p {
  color: #aaa;
  max-width: 500px;
  animation: fadeUp 1.5s ease;
}

.btn {
  margin-top: 20px;
  padding: 12px 25px;
  background: #fff;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.btn:hover { background: #ddd; }

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 40px;
}

.card {
  background: #111;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s;
}

.card:hover { transform: scale(1.05); }

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content { padding: 20px;
max-width:295px;               
}

.card h2 { margin: 0 0 10px; }

.card p {
  color: #aaa;
  font-size: 0.9rem;
}

.cta {
  text-align: center;
  padding: 40px;
}

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}

/*Correccion de img en AirPods Gen III  */

.background-img {
  background-image: url("https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/airpods-pro-3-thumb-3-202509?wid=282&hei=240&fmt=jpeg&qlt=90&.v=ZEN5L1ZLampHMG81Vmt6cUxySXA5SVExTG00OG94dG1aNS92UzJ5bVM5OVFtQUk3aUJ5NlJiVnd4bFY5ZW9YR014MXJScFRZN3Y5OWZsRXVrN1k4cGR1eUREOTIvOWxvaXNUOHI1Y0k4MWc");
  background-size: cover;
  height: 200px;
  background-position: center;
  width: 100%;
  
}
/* Correccion de img - fin  */





/*  MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
}

.modal-content {
  background: #111;
  margin: 5% auto;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  border-radius: 15px;
  color: #fff;
  position: relative;
  animation: fadeUp 0.3s ease;
}

.close {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 25px;
  cursor: pointer;
}

.modal-info {
  display: none;
}

.modal-content img {
  width: 57%;
  border-radius: 10px;
  margin-bottom: 10px;
}